<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo right">Space Scraper</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="../main/index.handlebars">Home</a></li>
            <li><a href="_saved.handlebars">Saved Articles</a></li>
            <a class="btn-small" id="btn">Scrape New Articles</a>
            <a class="btn-small" id="btn">Clear Articles</a>
        </ul>
    </div>
</nav>