<head>
<meta charset="UTF-8">

<title>Space Web Scraper</title>

{{!-- Load materialize.css --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

{{!-- Load style.css --}}
<link rel="stylesheet" href="./assets/css/style.css">
</head>
